{% extends "guess_the_number/base.html" %}
{% block title %}Статистика{% endblock %}
{% block content %}
 <table class="mytable">
        <thead class="table-dark">
            <tr>
                {% for i in values_columns %}
                    <th>{{i}}</th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
                    {%for row in rows %}
                <tr>
                    <td>{{row.date}}</td>
                    <td>{{row.game_time}}</td>
                    <td>{{row.try_count}}</td>
                </tr>
                    {% endfor %}
        </tbody>
 </table>
<a href="{% url 'main' %}">Вернуться к игре</a>
{% endblock %}
